body{
    margin: auto;
    text-align: center;
    background-image: linear-gradient(15deg, #05668D, #028090, #00A896, #02C39A, #F0F3BD);
    background-repeat: no-repeat;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}

html {height: 100%;}

section {
    padding: 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 4vh;
}

.days {
    font-size: 5vh;
    font-weight: 500;
}

p {
    font-size: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
}

.divider {
    height: 10vh;
}